.smallTable {
  margin: 0 -4.4vw 0 -1.6vw;
}

.board-container {
  display: inline-grid;
  padding-right: 2px;
  border: 2px solid #666666;
}
.cell {
  display: inline-block;
  border: 1px solid #999;
  background-color: #ffffff;
  margin: 0 -2px -5px 0;
  height: 4.8vw;
  width: 4.8vw;
}
.cellSmaller {
  width: 2.8vw;
  height: 2.8vw;
}
.cellHover {
  outline: none;
  background-color: #777777;
  cursor: pointer;
}
.cellShip {
  outline-color: invert;
  background-color: #bbbbbb;
}
.cellHit {
  outline-color: black;
  background-color: #FF2200;
}
.cellMissed {
  outline-color: blue;
  background-color: #7fd0ff;
}
.rowNumber {
  display: inline-block;
  font-size: 1.9vw;
  width: 4.8vw;
  height: 2.8vw;
  vertical-align: middle;
  text-align: center;
  margin-top: -2vw;
}
.colNumber {
  font-size: 1.7vw;
  text-align: center;
  background-color: inherit;
  padding-top: 1vw;
  margin: 0;
  border: none;
}
.colNumberSmaller {
  font-size: 1.1vw;
}
.rowNumberSmaller {
  font-size: 1.1vw;
  width: 2.4vw;
  height: 0.7vw;
}

