.ship {
    display: inline-block;
    border: 1.45px solid #999;
    margin: 2px -1px;
    /*font-size: 1em;*/
    height: 3vw;
    width: 3vw;
  }
  .colorShip {
    background-color: #bbbbbb;
    cursor: pointer;
  }
  .colorShipSelected {
    background-color: #777777;
    border-color: #291b2c;
  }
  .colorShipPlaced {
    background-color: #dddddd;
    border-color: #b0b0b0;
  }
  .ships {
    text-align: left;
    padding-left: 5px;
    margin-top: 15px;
  }
  .makeVertical {
    text-align: center;
    width: 55%;
    float: right;
    color: blue;
    margin-top: 6vw;
  }
  .toggleButton {
    margin-right: -10vw;
  }
  button {
    margin-top: 0.5em;
    padding: 0.5em;
  }
  p {
    margin: 0;
  }
  .shipOrientatioButton{
    background-color: #fafafa;
    border: 2px solid #666666;
    box-shadow: 2px;
    color: #444444;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0.5em 5em;
    cursor: pointer;
  }
  .caption{
    color: #222222;
  }