.App {
  text-align: center;
}
.left-side {
  display: inline-block;
  float: left;
  width: 29%;
  margin-left: 2em;
}
.middle-side {
  display: inline-block;
  float: center;
  width: 55%;
}
.right-side {
  display: inline-block;
  float: right;
  width: 66%;
  margin-left: 2px;
}
h3 {
  color: #222222;
  margin-bottom: 0.6em;
  display: inline-block;
}

li {
  margin-bottom: 0.4em;
  padding-top: 0.4em;
}

